body{
    background-image: url(support2.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;


}
.Registration-Page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;

}
.form{
    position: relative;
    z-index: 1;
    background-color: cornflowerblue;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 30px;
    text-align: center;
}
.form input{
    font-family: "fantasy";
    outline: 1;
    width: 100%;
    border: white;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}
.form button{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    outline: 0;
    background-color: white;
    width: 30%;
    border: 0;
    padding: 15px;
    color:dimgray;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active{
        background: cornflowerblue;

}
.form .mesaage{
    margin: 15px 0 0;
    color: cornsilk;
    font-size: 12px;
}
.form .mesaage a{
   color: cornsilk;
   text-decoration: none;

}
.form .register-form{
    display: none;

}